

$accordion-arrow-size: 30px;

.accordions {
	.accordion {
		.accordion-handle {
			position: relative;
			padding: 0;
			cursor: pointer;
			background: rgba( $grey, .2 );
			overflow: hidden;

			&:after {
				position: absolute;
				content: '+';
				color: white;
				right: 20px;
				top: 50%;
				font-size: 40px;
				line-height: 40px;
				margin-top: -20px;

				@include respond-to( $bp-m ) { right: 40px; }
				@include respond-to( $bp-l ) { right: 50px; }
				@include respond-to( $bp-xl ) { right: 60px; }
			}

			h3 {
				@include font-bold;
				color: white;
				font-size: 1.3em;
				display: inline-block;
				position: relative;
				z-index: 0;

				@include respond-to( $bp-xl ) {
					position: relative;

					&::after {
						width: 110%;
					}
				}

				padding: 20px 30px;
				@include respond-to( $bp-m ) { padding: 20px 40px; }
				@include respond-to( $bp-l ) { padding: 20px 50px; }
				@include respond-to( $bp-xl ) { padding: 25px 60px; }
			}
		}

		&.navy .accordion-handle {
			background: $navy;
		}

		&.green .accordion-handle {
			background: $green;
		}

		&.green-dark .accordion-handle {
			background: $green-dark;
		}

		&.green-darker .accordion-handle {
			background: $green-darker;
		}

		&.blue .accordion-handle {
			background: $blue;
		}

		&.orange .accordion-handle {
			background: $orange;
		}

		&.fulvous .accordion-handle {
			background: $fulvous;
		}

		&.grey-dark .accordion-handle {
			background: $grey-dark;
		}

		&.solutions .accordion-handle {
			background: $sky;
		}

		&.state-az .accordion-handle {
			background: $color-az;
		}

		&.state-co .accordion-handle {
			background: $color-co;
		}

		&.state-id .accordion-handle {
			background: $color-id;
		}

		&.state-or .accordion-handle {
			background: $color-or;
		}

		&.state-wa .accordion-handle {
			background: $color-wa;
		}

		&.state-wy .accordion-handle {
			background: $color-wy;
		}

		.accordion-content {
			display: none;
			background: white;
			@extend .content-style;
		}

		&.open {
			.accordion-handle:after {
				content: '-';
			}

			.accordion-content {
				display: block;

				padding: 30px;
				@include respond-to( $bp-m ) { padding: 30px 40px; }
				@include respond-to( $bp-l ) { padding: 30px 50px; }
				@include respond-to( $bp-xl ) { padding: 35px 60px; }
			}
		}
	}
}


.single-column {
	.accordions {
		margin-top: 0;
	}

	.accordion-handle h3 {
		@include respond-to( $bp-m ) {
			padding: 20px 60px 20px 30px !important;
		}

		@include respond-to( $bp-l ) {
			padding: 20px 60px 20px 40px !important;
		}

		@include respond-to( $bp-xl ) {
			padding: 20px 60px 20px 50px !important;
		}
	}

	.accordion-content {
		@include respond-to( $bp-m ) {
			padding: 20px 20px 30px 30px !important;
		}

		@include respond-to( $bp-l ) {
			padding: 20px 20px 30px 40px !important;
		}

		@include respond-to( $bp-xl ) {
			padding: 20px 20px 30px 50px !important;
		}
	}
}
