

.agenda-timezone {
	padding: 10px 30px;
	@include respond-to( $bp-m ) { margin: 0; padding: 20px 40px; }
	@include respond-to( $bp-l ) { margin: 0; padding: 20px 50px; }
	@include respond-to( $bp-xl ) { margin: 0; padding: 20px 60px; }
}

.agenda-container {
	&.slim {
		margin-top: -30px;
	}
}
	
.agenda-day-header {
	background: $navy;
	color: white;
	padding: 20px 30px;
	@include respond-to( $bp-m ) { margin: 0; padding: 20px 40px; }
	@include respond-to( $bp-l ) { margin: 0; padding: 20px 50px; }
	@include respond-to( $bp-xl ) { margin: 0; padding: 20px 60px; }

	.content-wide &, .accordion-content & {
		margin: 20px -30px 0;
		@include respond-to( $bp-m ) { margin: 20px -40px 0; }
		@include respond-to( $bp-l ) { margin: 25px -50px 0; }
		@include respond-to( $bp-xl ) { margin: 25px -60px 0; }
	}	
}

.agenda {
	background: $grey-light;
	margin-bottom: 10px;

	.content-wide &, .accordion-content & {
		margin: 0 -30px 20px;
		@include respond-to( $bp-m ) { margin: 0 -40px 30px; }
		@include respond-to( $bp-l ) { margin: 0 -50px 35px; }
		@include respond-to( $bp-xl ) { margin: 0 -60px 35px; }
	}
	
	.agenda-item {
		border-bottom: 1px solid $grey;
		padding: 15px 0;
		margin-bottom: 10px;
		padding: 10px 30px;
		@include respond-to( $bp-m ) { margin: 0; padding: 20px 40px; }
		@include respond-to( $bp-l ) { margin: 0; padding: 20px 50px; }
		@include respond-to( $bp-xl ) { margin: 0; padding: 20px 60px; }
		
		&:last-child {
			border-bottom: none;
		}

		&.agenda-heading {
			display: none;
			padding: 8px 30px;
			@include respond-to( $bp-m ) { margin: 0; padding: 8px 40px; }
			@include respond-to( $bp-l ) { margin: 0; padding: 8px 50px; }
			@include respond-to( $bp-xl ) { margin: 0; padding: 8px 60px; }
	
			.time, .location, .content {
				@include font-bold;
				font-size: .8em;
				text-transform: uppercase;
				opacity: .5;
				padding-bottom: 0;
			}
		}
		
		div {
			padding: 5px 0;
		}

		@include respond-to( $bp-l ) {
			display: flex;
			flex-wrap: wrap;

			div {
				flex: 1;
			}

			.time, .location {
				flex-basis: 50%;
				line-height: 1.5em;
				padding-bottom: 20px;
				padding-right: 40px;
			}
		
			.content {
				flex-basis: 100%;
				line-height: 1.5em;
			}
		}

		.location {
			p {
				padding: 0;
			}
		}

		&.red .content:before {
			background: $color-id;
		}

		&.green .content:before {
			background: $green;
		}

		&.navy .content:before {
			background: $navy;
		}

		&.yellow .content:before {
			background: $color-az;
		}

		&.purple .content:before {
			background: $color-co;
		}

		&.orange .content:before {
			background: $orange;
		}

		&.vermilion .content:before {
			background: $vermillion;
		}

		&.dark-grey .content:before {
			background: $silver-sand;
		}

		&.turquoise .content:before {
			background: $color-or;
		}

		&.teton .content:before {
			background: $color-wy;
		}

		&.whale .content:before {
			background: $blue-whale;
		}

		&.fulvous .content:before {
			background: $fulvous;
		}

		.content {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 3px;
				left: -45px;
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}

			p {
				padding: 0 0 15px;
			}

			.people {
				padding: 10px 0;
			}

			.person {
				display: flex;
				align-items: center;
				vertical-align: middle;
				padding: 5px 0;

				.person-thumbnail, .person-info {
					flex: 1;
				}

				.person-thumbnail {
					padding: 0 15px 0 0;
					max-width: 90px;

					img {
						display: block;
					}
				}
			}

			.sponsors {

				@include respond-to( 500px ) {
					display: flex;
				}
				align-items: center;
				vertical-align: middle;

				.sponsor {
					@include respond-to( 500px ) {
						flex: 0;
					}

					flex-grow: 0;
					text-align: center;
					padding: 0 10px 0 0;

					img {
						max-width: 100px;
						filter: grayscale(100%);
						opacity: .6;
						margin-right: 10px;
					}
				}
			}
		}

		@include respond-to( $bp-l ) {
			&.agenda-heading {
				display: flex;
			}
			
			.time {
				flex-basis: 30%;
			}

			.location {
				flex-basis: 20%;
				padding-right: 20px;
			}

			.content {
				flex-basis: 50%;
				padding-right: 20px;
			}
		}

		@include respond-to( $bp-xl ) {
			.time {
				flex-basis: 20%;
			}

			.location {
				flex-basis: 20%;
				padding-right: 30px;
			}

			.content {
				flex-basis: 60%;
				padding-right: 30px;
			}
		}
	}
}

