

.page-template-page-front {
    .icons {
        background-color: white;
    }

    .page-events {
        background-color: $grey-light;
    }

    .link-boxes {
        background: white;
    }
}


.page-template-page-advocacy {
    .icons {
        background-color: white;
    }
}

