

body {
	@include font;
	margin: 0;
	color: darken( $grey-dark, 40% );
	background: lighten( $grey-light, 30% );
	font-size: 16px;
	line-height: 100%;

	@include respond-to( $bp-m ) {
		font-size: 18px;
		line-height: 100%;
	}
}

h1, h2, h3, h4, h5, h6 {
	@include font-title;
	line-height: 1.3em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.4em;
	color: $navy;

	span {
		opacity: .7;
	}
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

p {
	@include font;
	line-height: 1.5em;
	padding: 8px 0;

	@include respond-to( $bp-m ) {
		padding: 12px 0;
	}
}

strong {
	font-weight: bold;
}

a {
	color: $navy;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

img {
	&.alignleft {
		float: left;
		margin: 0 10px 10px 0;
	}

	&.alignright {
		float: right;
		margin: 0 0 10px 10px;
	}

	&.aligncenter {
		display: block;
		margin: 0 auto;
	}
}

code, pre {
	font-family: monospace;
	background-color: #eee;
	padding: 5px 10px;
	font-size: 1.1em;
	line-height: 1.4em;
}

pre {
	max-width: 100%;
	overflow: auto;
	margin: 15px 0;
	font-size: 1em;
	min-height: 35px;
}

sub, sup {
	/* Specified in % so that the sup/sup is the
	   right size relative to the surrounding text */
	font-size: 75%;
  
	/* Zero out the line-height so that it doesn't
	   interfere with the positioning that follows */
	line-height: 0;
  
	/* Where the magic happens: makes all browsers position
	   the sup/sup properly, relative to the surrounding text */
	position: relative;
  
	/* Note that if you're using Eric Meyer's reset.css, this
	   is already set and you can remove this rule */
	vertical-align: baseline;
}
  
sup {
	/* Move the superscripted text up */
	top: -0.5em;
}
  
sub {
	/* Move the subscripted text down, but only
	   half as far down as the superscript moved up */
	bottom: -0.25em;
}

.nowrap {
	white-space: nowrap;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.pagination {
	padding: 15px 0;
	text-align: center;
	font-size: 15px;
	line-height: 15px;
	background: $grey-light;
	@include font;

	@include respond-to( $bp-m ) {
		padding: 40px 0;
	}

	a {
		padding: 12px;
		background: $grey-light;
		color: $grey;
		text-decoration: none;
		display: inline-block;
		border: 1px solid rgba( $grey, .3 );

		&:hover {
			background: rgba( $grey, .1 );
		}
	}

	.current {
		padding: 12px;
		display: inline-block;
		background: white;
		border: 1px solid rgba( $grey, .3 );
	}
}

