

.button-bar {
	padding: 20px 30px;
	@include respond-to( $bp-m ) { padding: 30px 40px; }
	@include respond-to( $bp-l ) { padding: 30px 50px; }
	@include respond-to( $bp-xl ) { padding: 30px 60px; }
	background: $grey-light;

	h3 {
		padding-bottom: 10px;
	}

	.button-bar-inner {
		.btn {
			margin-bottom: 4px;
		}
	}
}

