

.content-style {
	ol, ul {
		padding: 5px 0 5px 35px;

		li {
			padding: 3px 0;
			line-height: 1.5em;
		}
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	a {
		font-weight: bold;
		border-bottom: 2px dotted rgba( $navy, .2 );
		text-decoration: none;
		transition: border-bottom 400ms ease-in-out;

		&:hover {
			border-bottom: 2px dotted rgba( $navy, .7 );
		}

		&.no-line {
			border-bottom: 0;
		}
	}

	blockquote {
		padding: 0 25px;
		@include font-italic;
		font-size: 1.2em;
		line-height: 1.5em;
		color: $grey;
		border-left: 3px solid lighten( $grey-light, 30% );
		margin: 10px 0 10px 20px;
	}

	em, i {
		font-style: italic;
	}

	em strong, strong em, em b, b em {
		@include font-bold;
		font-style: italic;
	}

	hr {
		border: 0;
		border-bottom: 3px solid lighten( $grey-light, 30% );
		padding: 0;
		margin: 10px 0;
		
		@include respond-to( $bp-s ) {
			margin: 20px 0;
		}
		
		@include respond-to( $bp-l ) {
			margin: 30px 0;
		}
	}

	.postmeta {
		margin-top: 15px;
		padding: 15px 0;
		border-top: 1px solid #ccc;
	}

	.quiet, .post-date {
		color: $grey;
		@include font-italic;
		font-size: .85em;

		a {
			color: #555;
		}
	}

	table {
		width: 100%;

		tr {
			td {
				vertical-align: top;
				padding: 6px 10px;
			}
		}
	}
	
	.wp-caption {
		&.alignright {
			float: right;
			margin: 0 0 15px 15px;
		}

		&.alignleft {
			float: left;
			margin: 0 15px 15px 0;
		}

		img {
			width: 100%;
		}
	}

	.featured-image {
		@include respond-to( $bp-m ) {
			max-width: 55%;
			float: right;
			margin: 0 0 15px 15px;

		}
	}

	table.slds-table {
		tr th {
			&:nth-child(1), &:nth-child(2) {
				width: 30%;
			}

			&:nth-child(3) {
				width: 40%;
			}
		}
	}
}


.container {
	min-width: 320px;
	max-width: 1450px;
	margin: 0 auto;
	background: white;
	box-shadow: 0 0 50px rgba( $grey-light, .4 );
	border: 1px solid rgba( $grey-light, .6 );
	border-top: 0;
	border-bottom: 0;
	z-index: 100;

	&.notemplate {
		border: 0 !important;
	}
}


.wrap {
	max-width: 1450px;
	margin: 0 auto;
}


.content {
	position: relative;
}


.content-wide {
	@include clearfix;
	@extend .content-style;
	@include padding;

	@include respond-to( $bp-xl ) {
		padding-top: 40px;
		padding-bottom: 60px;
	}

	.quarter, .three-quarter {
		padding: 0;
	}

	@include respond-to( $bp-m ) {
		.quarter {
			width: 23%;
			margin: 0 2% 0 0;
		}

		.three-quarter {
			width: 75%;
			margin: 0;
		}
	}

	.featured-image {
		@include respond-to( $bp-m ) {
			max-width: 35%;
			float: right;
			margin: 0 0 15px 15px;
		}
	}

	&.grey {
		background-color: $grey-light;
	}
}


.intro-columns {
	.intro-video {

	}

	.intro-content {
		@extend .content-style;
	}

	@include respond-to( 1024px ) {
		display: flex;
		flex-direction: row-reverse;

		&.wrap {
			display: block;
			
			.intro-video { 
				width: 37%;
				margin: 0 0 3% 3%;
				float: right;
			}

			.intro-content {
				margin-right: 0;
			}
		}

		.intro-video {
			flex: 1;
			flex-basis: 37%;
		}

		.intro-content {
			flex: 1;
			flex-basis: 60%;
			margin-right: 3%;
		}
	}
}


.two-column {
	border-top: 15px solid $grey;

	@include respond-to( $bp-m ) {
		display: flex;
	}

	&.reverse {
		@include respond-to( $bp-m ) {
			flex-direction: row-reverse;
		}
	}

	.sidebar {
		padding: 20px;
		background: $grey-light;

		.widget {
			padding: 0 0 30px 0;
		}

		h4 {
			text-transform: uppercase;
			font-size: 1.1em;
		}

		@include respond-to( $bp-m ) {
			flex: 1;
			flex-basis: 33%;
			padding: 20px 30px;
		}

		@include respond-to( $bp-l ) {
			padding: 30px 40px;
		}

		@include respond-to( $bp-xl ) {
			padding: 30px 50px;
		}
	}

	.right-column {
		@include respond-to( $bp-m ) {
			flex: 1;
			flex-basis: 67%;
		}

		.right-column-inner {
			@extend .content-style;
			padding: 20px;

			@include respond-to( $bp-m ) {
				padding: 30px;
			}

			@include respond-to( $bp-xl ) {
				padding: 40px;
			}

			&.nopad {
				padding: 20px;

				@include respond-to( $bp-m ) {
					padding: 30px;
				}

				@include respond-to( $bp-xl ) {
					padding: 40px;
				}
			}

			h1 {
				@include font-bold;
				font-size: 1.7em;
				line-height: 1.3em;
				color: $navy;
			}

			h2 {
				@include font-bold-italic;
				font-size: 1.7em;
				line-height: 1.3em;
				color: $navy;
			}

			.featured-image {
				padding: 15px 0;
			}
		}
	}
}


.breadcrumbs {
	padding: 0 0 20px;
	font-size: .9em;
	color: $grey-dark;

	a {
		display: inline-block;
		padding: 0 5px;

		&:first-child {
			padding: 0 5px 0 0;
		}
	}

	span {
		display: inline-block;
		padding: 0 0 0 5px;
	}
}


.text-green {
	color: $green;
}

.text-sky {
	color: $sky;
}
