

.page-template-page-council {
	.button-bar {
		background: white;
		padding: 0;

		@include respond-to( $bp-m ) {	
			.button-bar-inner {		
				display: flex;

				.btn {
					flex: 1;
					border-radius: 0;
				}
			}
		}

		.btn {
			border-radius: 0;
			padding: 20px 0;
		}
	}
}

