

.event {
	.event-header {
		@include respond-to( 600px ) {
			display: flex;
  		}

		.event-thumbnail {
			background: url(../img/bg-page-header.webp) center center no-repeat;
			background-size: cover;
			min-height: 150px;

			@include respond-to( 600px ) {
				flex: 1;
				flex-basis: 40%;
			}

			@include respond-to( 768px ) {
				flex: 1;
				flex-basis: 20%;
				min-height: 250px;
			}
		}
	}

	.event-info {
		h4 {
			padding: 10px 0 5px 0;
			font-size: 1.4em;
		}

		p {
			padding: 5px 0;
		}

		.event-date, .event-price, .event-location, .event-people, .event-ad, .event-registration {
			padding: 10px 0 25px 0;
		}

		.event-ad {
			img {
				max-width: 400px;

				@include respond-to( 768px ) {
					max-width: 100%;
				}
			}
		}
	}
}


.page-events {
	@include padding;
	position: relative;
	background: $grey-light url(../img/bg-waves-green.png) center center / cover fixed no-repeat;
	border-top: 3px solid darken( $grey-light, 10% );

	&.narrow {
		background: white;

		@include respond-to( $bp-l ) {
			padding-right: 120px;
		}
	}

	* {
		text-shadow: 0 0 30px white;
	}

	.page-events-title {
		padding-bottom: 20px;

		@include respond-to( 768px ) {
			padding-bottom: 30px;
		}
	}

	.all-events {
		position: absolute;
		right: 20px;
		top: 20px;
		width: 60px;
		height: 60px;
		content: '';
		background: url(../img/icon-calendar-dark.png) center center no-repeat;
		background-size: contain;
		color: transparent;

		@include respond-to( 1220px ) {
			width: 100px;
			height: 100px;
		}
	}

	
	.event-list {
		padding-right: 40px;

		@include respond-to( $bp-m ) {
			display: flex;
			flex-wrap: wrap;
			padding-right: 20px;
			margin-right: -2%;

			.event {
				flex: 1;
				flex-basis: 48%;
				margin-right: 2%;
			}
		}

		@include respond-to( $bp-xl ) {
			padding-right: 80px;
			flex-wrap: nowrap;

			.event {
				flex-basis: 23%;
			}
		}
	}
}


.event-registration {
	position: relative;
	background: $grey url(../img/bg-waves-green.png) center center / cover fixed no-repeat;
	border-top: 2px solid $grey-dark;

	&.fixed {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		max-width: 1450px;
	}

	padding: 20px 30px;
	@include respond-to( $bp-m ) { padding: 20px 40px; }
	@include respond-to( $bp-l ) { padding: 20px 50px; }
	@include respond-to( $bp-xl ) { padding: 20px 60px; }

	@include respond-to( $bp-m ) {
		display: flex;	
	}

	.content {
		display: none;
		@extend .content-style;
		
		@include respond-to( $bp-m ) {
			display: block;
			flex: 1;
		}

		h1, h2, h3, h4, h5, h6, p {
			padding: 0;
		}
	}

	.buttons {
		text-align: right;
		padding: 0;

		@include respond-to( $bp-m ) {
			flex: 1;
		}
	}
}


.month-nav {
	padding: 10px;
	background: $grey-dark;
	color: white;
	text-decoration: none;
	margin-bottom: 10px;
	float: left;
	cursor: pointer;

	&.next {
		float: right;
	}

	&:hover {
		background: lighten( $grey, 10% );
		color: white;
	}
}


.calendar-month-title {
	text-align: center;
	font-size: 1.1em;

	@include respond-to( 600px ) {
		font-size: 1.6em;
	}

	@include respond-to( 900px ) {
		font-size: 2.2em;
	}
}


.calendar {
	border-top: 1px solid lighten( $grey, 15% );
	border-left: 1px solid lighten( $grey, 15% );
	width: 100%;

	td {
		width: 14.58%;
		padding: 4px;
		text-align: center;
		border-right: 1px solid lighten( $grey, 15% ) !important;
		border-bottom: 1px solid lighten( $grey, 15% ) !important;

		&.calendar-day-head {
			background: #ddd;

			span {
				display: none;
				
				@include respond-to( 768px ) {
					display: inline;
				}
			}
		}

		&.calendar-day:hover {
			background: #eee;
		}

		&.calendar-day.current-day {
			background: #f5f5f5;

			&:hover {
				background: #eee;
			}
		}

		.day-number {
			text-align: right;
		}

		.day-events {
			display: none;
			@include font-bold;
			font-size: 13px;

			@include respond-to( 768px ) {
				display: block;
				min-height: 100px;

				.event-time, .event-description {
					display: none;
				}
			}

			a {
				@include font-bold;
				font-size: 13px;
			}
			
			.event {
				padding: 7px 0;
				border-top: 1px solid lighten( $grey, 40% );
			}

			.event-title {
				line-height: 20px;
			}

		}
	}
}


.day-event-list {
	display: block;
	padding: 20px 0;

	@include respond-to( 768px ) {
		display: none;
	}

	.event-title {
		@include font-bold;
		font-size: 1.2em;
		margin-top: 8px;
	}

	.event-time {
		color: $grey;
		font-style: italic;
	}

	.event-description {
		font-size: .85em;
		line-height: 1.4em;
	}
}


.event-list {
	.event {
		position: relative;
		padding-left: 70px;
		padding-bottom: 20px;
		min-height: 75px;

		@include respond-to( 1024px ) {
			padding-left: 100px;
			padding-bottom: 30px;
			min-height: 100px;
		}

		.event-date {
			position: absolute;
			left: 0;
			top: 0;
			border: 3px solid rgba( $grey, .3 );
			color: $navy;
			width: 64px;
			height: 64px;
			padding: 10px 0 0 0;
			border-radius: 50%;

			@include respond-to( 1024px ) {
				width: 92px;
				height: 92px;
				padding: 10px 0 0 0;
			}

			.event-date-month {
				@include font-title;
				text-align: center;
				display: block;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 14px;

				@include respond-to ( 1024px ) {
					font-size: 20px;
					line-height: 20px;
				}
			}

			.event-date-day {
				@include font-title;
				text-align: center;
				display: block;
				font-size: 30px;
				line-height: 30px;

				@include respond-to( 1024px ) {
					font-size: 50px;
					line-height: 50px;
				}
			}
		}

		h3 {
			@include font-title;
			text-transform: uppercase;
			padding: 0;
			font-size: 1.1em;
			line-height: 1.3em;

			a {
				color: $navy;
			}
		}

		.event-location {
			opacity: .7;
			padding: 4px 0;
		}

		.event-excerpt {
			font-size: .75em;
		}
	}

	.home & {
		padding: 20px 0 0 10px;

		@include respond-to( $bp-m ) {
			display: flex;
		}

		.event {
			@include respond-to( $bp-m ) {
				flex: 1;
				padding-right: 20px;
			}
		}
	}

	.sidebar & .event {
		h3 {
			font-size: .85em;
		}

		p {
			font-size: .7em;
		}
	}
}


.event-list-cta {
	padding: 20px 0 0;
		
	&.narrow {
		.event {
			border: 0;
			position: relative;

			& > .event-date {
				position: absolute;
				left: 0;
				top: 20px;
				border: 3px solid rgba( $grey, .3 );
				color: $navy;
				width: 64px;
				height: 64px;
				padding: 10px 0 0 0;
				border-radius: 50%;

				@include respond-to( 1024px ) {
					width: 92px;
					height: 92px;
					padding: 10px 0 0 0;
				}

				.event-date-month {
					@include font-title;
					text-align: center;
					display: block;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 14px;

					@include respond-to ( 1024px ) {
						font-size: 20px;
						line-height: 20px;
					}
				}

				.event-date-day {
					@include font-title;
					text-align: center;
					display: block;
					font-size: 30px;
					line-height: 30px;

					@include respond-to( 1024px ) {
						font-size: 50px;
						line-height: 50px;
					}
				}
			}

			.event-cta-columns {
				margin-left: 90px;
				
			}
		}
	}

	.event {
		border: 3px solid $navy;
		margin-bottom: 20px;

		.event-branding {
			background: $grey-light;
			padding: 10px;
			position: relative;

			img {
				max-width: 40px;
				max-height: 40px;
			}

			&:after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 60px;
				background: $navy;
				color: white;
				content: '';
				padding: 10px 20px;
				font-size: 25px;
				line-height: 40px;
				@include font-title;
				text-transform: uppercase;
			}

			&.az {
				background: $color-az;
				&:after { content: 'Arizona'; }
			}

			&.co {
				background: $color-co;
				&:after { content: 'Colorado'; }
			}

			&.id {
				background: $color-id;
				&:after { content: 'Idaho'; }
			}

			&.or {
				background: $color-or;
				&:after { content: 'Oregon'; }
			}

			&.wa {
				background: $color-wa;
				&:after { content: 'Washington'; }
			}

			&.wy {
				background: $color-wy;
				&:after { content: 'Wyoming'; }
			}

			&.cuna {
				background: $grey-light;
				&:after { content: 'CUNA GAC'; }
			}

			&.general {
				background: $grey-light;
				&:after { content: 'Event'; }
			}
		}

		.event-cta-columns {
			.event-info {
				padding: 20px 20px 10px;

				.event-date {
					color: $green;
					@include font-title;
					font-size: 1.2em;
					padding-bottom: 5px;
				}

				h3 {
					font-size: 1.4em;
				}

				.event-excerpt {
					font-size: .8em;
				}
			}

			.event-ctas {
				@include clearfix;
				padding: 0 2% 20px 20px;

				a {
					float: left;
					@include font-bold;
					width: 47%;
					margin-top: 10px;
					margin-right: 3%;
					text-align: center;
					background: $navy;
					text-transform: uppercase;
					color: white;
					padding: 10px 0;
					font-size: .9em;
					transition: opacity 400ms ease-in-out;

					&:hover {
						opacity: .8;
						text-decoration: none;
					}

					&.more-info {
						background: $green;
					}

					&.register {
						background: $orange;
					}
				}
			}

			@include respond-to( 768px ) {
				display: flex;

				.event-info {
					flex: 1;
					flex-basis: 57%;
					margin-right: 3%;
					padding: 20px;
				}

				.event-ctas {
					flex: 1;
					flex-basis: 40%;
					padding: 20px 15px 20px 0;
				}
			}
		}

		@include respond-to( 1150px ) {
			display: flex;

			.event-branding {
				flex: 1;
				flex-basis: 20%;
				padding: 20px 20px 80px 20px;
				text-align: center;

				img {
					max-width: 120px;
					max-height: 120px;
				}

				&:after {
					top: auto;
					left: 0;
				}
			}

			.event-cta-columns {
				flex: 1;
				flex-basis: 80%;

				.event-info {
					.event-excerpt {
						font-size: .95em;
					}
				}
			}
		}

	}

}

