

footer {
	@include clearfix;
	@include padding;
	background: $navy;
	color: white;
	line-height: 1.5em;
	text-align: center;

	a {
		color: white;
	}

	.copyright {
		color: white;
		font-size: .75em;
	}
}

