

header {
	position: relative;
	@include padding;

	& > .logo {
		text-align: center;
	}

	.account-tools {
		.search {
			margin-top: 10px;
			border: 3px solid $grey-light;
			@include clearfix;

			label {
				display: none;
			}

			input[type=text] {
				float: left;
				width: calc( 100% - 50px );
				padding: 10px;
				font-size: 18px;
				line-height: 20px;
				border: 0;
			}

			input[type=submit] {
				float: right;
				width: 40px;
				height: 40px;
				color: transparent;
				border-radius: 0;
				background: $grey url(../img/icon-search.png) center center no-repeat;
			}
		}

		.account-buttons {
			padding: 10px 0;
			text-align: center;

			.btn {
				padding: 6px 10px;
				font-size: .7em;

				@include respond-to( 375px ) {
					padding: 8px 15px;
					font-size: .8em;
				}
			}
		}

		.contact {
			@include font-bold;
			display: block;
			padding: 10px 0;
			text-align: center;
			text-transform: uppercase;
		}

		@include respond-to( $bp-m ) {
			display: flex;
			max-width: 675px;
			margin: 20px auto 0;

			div {
				flex: 1;
			}

			.contact {
				flex-basis: 18%;
				font-size: .9em;
			}

			.search {
				flex-basis: 28%;
				margin-right: 2%;
				margin-top: 0;
			}

			.account-buttons {
				flex-basis: 48%;
				margin-right: 2%;
				padding: 0;

				.btn {
					margin-bottom: 0;
					padding: 10px 15px;
				}
			}
		}
	}

	@include respond-to( $bp-xl ) {
		padding-bottom: 25px;

		.logo {
			text-align: left;
		}

		.account-tools {
			position: absolute;
			right: 20px;
			bottom: 30px;
		}
	}

	@include respond-to( $bp-xxl ) {
		.account-tools {
			right: 50px;
		}
	}
}


nav.main-menu-container {
	@include clearfix;
	position: relative;

	button {
		position: absolute;
		right: 10px;
		top: -60px;
		width: 40px;
		height: 40px;
		border: 0;
		padding: 0;
		background: white;
		color: transparent;
		background: url(../img/icon-menu.png) center center no-repeat;
		overflow: hidden;
		text-indent: 1000px;
		
		@include respond-to( 400px ) {
			right: 20px;
		}

		@include respond-to( $bp-m ) {
			display: none;
		}
	}

	& > ul {
		display: none;
		background: $grey-light;
		position: relative;
		z-index: 1000;
		
		padding: 0;
		@include respond-to( $bp-m ) { padding: 0 30px; }
		@include respond-to( $bp-l ) { padding: 0 20px; }
		@include respond-to( $bp-xl ) { padding: 0 30px; }
		
		@include respond-to( $bp-m ) {
			display: block;
			@include clearfix;
		}

		& > li {
			@include respond-to( $bp-m ) {
				box-shadow: none;
				display: inline-block;
			}

			& > a {
				@include font-bold;
				display: block;
				padding: 15px 5px;
				font-size: 16px;
				line-height: 15px;
				color: $navy;
				text-decoration: none;
				text-transform: uppercase;
				width: 100%;
				transition: 400ms background-color ease-in-out;
				background-color: transparent;
				text-align: center;

				@include respond-to( $bp-m ) {
					display: inline-block;
					text-align: left;
					padding: 15px 20px;
				}

				@include respond-to( $bp-l ) {
					font-size: 18px;
					padding: 15px 25px;
				}
			}

			&:hover, &.open {
				& > a {
					background-color: $grey;
				}

				& > .columns {
					.column {
						p {
							font-size: .8em;

							a {
								padding: 4px 0;
							}
						}

						.btn {
							font-size: 1em;
							padding: 5px 12px;
						}
					}

					@include respond-to( $bp-m ) {
						display: flex;
						flex-wrap: wrap;
						background: white;

						.column {
							flex: 1;
							flex-basis: 50%;
							padding: 10px 0;
						}
					}

					@include respond-to( $bp-l ) {
						display: flex;
						flex-wrap: nowrap;
						background: white;

						.column {
							flex: 1;
							flex-basis: 25%;
							padding: 10px 0;
						}
					}
				}
			}

			& > .columns {
				display: none;
				background: white;
				padding: 10px 0 25px;

				@include respond-to( $bp-m ) {
					position: absolute;
					left: 0;
					top: 45px;
					width: 100%;
					background-color: $grey;
					@include clearfix;
					padding: 0 30px 20px;
					box-shadow: 0 10px 20px rgba( black, .2 );
				}

				@include respond-to( $bp-l ) { padding: 0 50px 20px; }
				@include respond-to( $bp-xl ) { padding: 0 60px 20px; }
			
				h4 {
					@include font;
					text-transform: uppercase;
					color: $grey-dark;
					font-size: .7em;
					line-height: 1.2em;
					text-align: center;
					padding: 15px 0 5px;

					@include respond-to( $bp-m ) {
						text-align: left;
					}
				}

				h5 {
					padding: 10px 0 0;
					
					a {
						line-height: 1em;

						&:hover {
							text-decoration: none;
						}
					}
				}

				p {
					padding: 0 0 8px 0;
				}

				li {
					display: block;
					width: 100%;

					& > a {
						@include font-med;
						font-size: 15px;
						line-height: 18px;
						display: block;
						padding: 8px 0 4px;
						text-transform: none;
						transition: color 400ms ease-in-out, border-bottom 400ms ease-in-out;
						color: rgba( $navy, 1 );
						border-bottom: 2px dotted white;
						text-align: center;

						@include respond-to( $bp-m ) {
							display: inline-block;
						}

						&:hover {
							color: rgba( $navy, .5 );
							text-decoration: none;
							border-bottom: 2px dotted rgba( $grey-dark, .6 );
						}
					}
				}
			}
		}
	}
}
