

.icons {
	@include padding;
	background: $grey-light url(../img/bg-waves-green.png) center center / cover fixed no-repeat;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -2% 0 0;

	.icon {
		padding: 0 0 30px 0;
		display: block;
		position: relative;
		margin-bottom: 20px;
		text-align: center;
		cursor: pointer;
		flex: 1;
		flex-basis: 47%;
		margin: 0 2% 2% 0;

		h3 {
			margin-top: 10px;
			font-size: 1.2em;
			color: $navy;
		}
	}

	
	@include respond-to( $bp-m ) {
		margin: 0 -2% 0 0;

		.icon {
			flex: 1;
			flex-basis: 31.3333%;
			margin: 0 2% 0 0;
		}
	}
	
	@include respond-to( $bp-xl ) {
		flex-wrap: nowrap;
		margin: 0 -2% 0 0;

		.icon {
			flex: 1;
			flex-basis: 1;
			margin: 0 2% 0 0;
		}
	}
}

