

.icons {
	@include padding;
	background: $grey-light url(../img/bg-waves-green.png) center center / cover fixed no-repeat;
	display: flex;
	flex-wrap: wrap;
	margin: 0;

	.icon {
		padding: 0 0 30px 0;
		display: block;
		position: relative;
		margin-bottom: 20px;
		text-align: center;
		cursor: pointer;
		flex: 1;
		flex-basis: 47%;
		margin: 0 2% 2% 0;
		opacity: 1;
		transition: 400ms all ease-in-out;

		.icon-image {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 110px;
			width: 100%;

			img {
				transition: 400ms all ease-in-out;
				max-height: 100%;
			}
		}

		h3 {
			margin-top: 10px;
			font-size: 1.2em;
			color: $navy;
			border-bottom: 2px dotted $grey;
			display: inline-block;
		}

		&:hover {
			opacity: .7;

			img {
				filter: grayscale(1);
				opacity: .7;
			}
		}
	}
	
	@include respond-to( $bp-m ) {
		.icon {
			flex: 1;
			flex-basis: 31.3333%;
			margin: 0 1%;
		}
	}
	
	@include respond-to( $bp-xl ) {
		flex-wrap: nowrap;

		.icon {
			flex: 1;
			flex-basis: 1;
			margin: 0 1%;
		}
	}

	&.three {
		@include respond-to( $bp-m ) {
			.icon {
				flex-basis: 31.3333%;
				margin: 0 1%;
				flex-grow: 0;
			}
		}

		@include respond-to( $bp-xl ) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&.four {
		@include respond-to( $bp-l ) {
			.icon {
				flex-basis: 23%;
				margin: 0 1%;
				flex-grow: 0;
			}
		}

		@include respond-to( $bp-xl ) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&.five {
		@include respond-to( $bp-l ) {
			.icon {
				flex-basis: 18%;
				margin: 0 1%;
				flex-grow: 0;
			}
		}

		@include respond-to( $bp-xl ) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&.six {
		@include respond-to( $bp-l ) {
			.icon {
				flex-basis: 14.6666%;
				margin: 0 1%;
				flex-grow: 0;
			}
		}

		@include respond-to( $bp-xl ) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

