
.image-boxes-container {
	overflow: hidden;
	background: white;

	&.bg-grey {
		background: $grey-light;
	}

	&.bg-gw {
		background: white url(../img/bg-gwlogo.png) right center / cover fixed no-repeat;
	}

	&.bg-waves {
		background: $grey-light url(../img/bg-waves-green.png) center center / cover fixed no-repeat;
	}

	.image-boxes {

		padding: 30px;
		@include respond-to( $bp-m ) { padding: 40px 40px 0; }
		@include respond-to( $bp-l ) { padding: 40px 50px 0; }
		@include respond-to( $bp-xl ) { padding: 40px 60px 0; }

		.image-box {
			position: relative;
			border: 1px solid $navy;
			margin-bottom: 40px;
			background-size: cover;
			cursor: pointer;

			span {
				@include font-title;
				text-transform: uppercase;
				display: block;
				padding: 20px;
				text-align: center;
				color: white;
				font-size: 1.4em;
				line-height: 1em;
				background: $navy;
				transition: background 400ms ease-in-out;
				margin-top: 225px;

				&:hover {
					text-decoration: none;
				}

				@include respond-to( $bp-m ) {
					padding: 25px;
				}
			}

			&.navy span { border-bottom: 25px solid $navy; }
			&.blue span { border-bottom: 25px solid $blue; }
			&.blue-whale span { border-bottom: 25px solid $blue-whale; }
			&.sky span { border-bottom: 25px solid $sky; }
			&.fulvous span { border-bottom: 25px solid $fulvous; }
			&.orange span { border-bottom: 25px solid $orange; }
			&.vermillion span { border-bottom: 25px solid $vermillion; }
			&.green span { border-bottom: 25px solid $green; }
			&.sky span { border-bottom: 25px solid $sky; }
			&.grey-light span { border-bottom: 25px solid $grey-light; }
			&.grey-dark span { border-bottom: 25px solid $grey-dark; }

			&.state-az span { border-bottom: 25px solid $color-az; }
			&.state-co span { border-bottom: 25px solid $color-co; }
			&.state-id span { border-bottom: 25px solid $color-id; }
			&.state-or span { border-bottom: 25px solid $color-or; }
			&.state-wa span { border-bottom: 25px solid $color-wa; }
			&.state-wy span { border-bottom: 25px solid $color-wy; }

			&:hover {
				opacity: .9;
			}
		}
		
		@include respond-to( $bp-m ) {
			display: flex;
			flex-wrap: wrap;
			margin-right: -3%;

			.image-box {
				flex: 1;
				flex-basis: 47%;
				margin-right: 3%;
			}
		}

		@include respond-to( $bp-xl ) {
			padding-top: 40px;

			.image-box {
				flex: 1;
				flex-basis: 30.3333%;
				margin-right: 3%;
			}
		}

	}
}
