

.link-boxes {
	background: $grey-light url(../img/bg-waves-green.png) center center / cover fixed no-repeat;

	padding: 30px;
	@include respond-to( $bp-m ) { padding: 40px 40px 0; }
	@include respond-to( $bp-l ) { padding: 40px 50px 0; }
	@include respond-to( $bp-xl ) { padding: 40px 60px 0; }

	.link-box {
		position: relative;
		border: 1px solid $navy;
		margin-bottom: 40px;
		background-size: cover;

		a {
			@include font-bold;
			display: block;
			padding: 30px;
			text-align: center;
			color: white;
			font-size: 1.4em;
			line-height: 1.4em;
			background: rgba( black, .3 );
			transition: background 400ms ease-in-out;

			&:hover {
				text-decoration: none;
				background: rgba( black, .5 );
			}

			@include respond-to( $bp-m ) {
				padding: 40px;
			}

			@include respond-to( $bp-l ) {
				padding: 60px;
			}
		}
	}
	
	@include respond-to( $bp-m ) {
		display: flex;
		flex-wrap: wrap;
		margin-right: -3%;

		.link-box {
			flex: 1;
			flex-basis: 47%;
			margin-right: 3%;
		}
	}

	@include respond-to( $bp-xl ) {
		padding-top: 40px;
	}

}

