

// responsive mixin
@mixin respond-to( $breakpoint ) {
    @media only screen and ( min-width: $breakpoint ) { @content; }
}


// Clearfix mixin
@mixin clearfix {
	zoom: 1;

	&:before, &:after { 
		content: ""; 
		display: table;
	}

	&, &:before, &:after { clear: both; }
}


@mixin wrap( $max-width ) {
	max-width: $max-width;
	margin: 0 auto;
}


@mixin wrap-main {
	@include wrap( $bp-xl );
}


@mixin padding {
	padding: 30px;
	@include respond-to( $bp-m ) { padding: 40px 40px; }
	@include respond-to( $bp-l ) { padding: 45px 50px; }
	@include respond-to( $bp-xl ) { padding: 50px 60px; }
}

@mixin padding-no-bottom {
	padding: 30px 30px 0 30px;
	@include respond-to( $bp-m ) { padding: 40px 40px 0 40px; }
	@include respond-to( $bp-l ) { padding: 45px 50px 0 50px; }
	@include respond-to( $bp-xl ) { padding: 50px 60px 0 60px; }
}

@mixin padding-no-top {
	padding: 0 30px 30px 30px;
	@include respond-to( $bp-m ) { padding: 0 40px 40px 40px; }
	@include respond-to( $bp-l ) { padding: 0 50px 45px 50px; }
	@include respond-to( $bp-xl ) { padding: 0 60px 50px 60px; }
}

@mixin padding-sides {
	padding: 0 30px;
	@include respond-to( $bp-m ) { padding: 0 40px; }
	@include respond-to( $bp-l ) { padding: 0 50px; }
	@include respond-to( $bp-xl ) { padding: 0 60px; }
}
