

.menu-newsletter-container {
	ul {
		li {
			a {
				@include font-title;
				font-size: .9em;
				text-transform: uppercase;
				display: block;
				background: $navy;
				color: white;
				padding: 10px 12px 6px;
				margin: 0 0 10px 0;

				&:hover {
					opacity: .8;
					text-decoration: none;
				}
			}
		}
	}	
}

