

.menu-newsletter-container {	
	ul {
		li {
			a {
				@include font-title;
				font-size: .9em;
				display: block;
				background: $navy;
				color: white;
				padding: 10px 12px 6px;
				margin: 0 0 10px 0;

				&:hover {
					opacity: .8;
					text-decoration: none;
				}
			}
		}
	}
}


.page-template-page-newsletter {
	.sidebar .headlines {
		// display: none;
	}

	.article-cards {
		img {
			margin-bottom: 20px; 
		}

		h4 {
			@include font-bold;
			font-size: 1em;
			line-height: 1.3em;
			text-transform: uppercase;
		}

		p {
			font-size: .8em;
		}

		@include respond-to( $bp-l ) {
			display: flex;
			margin-right: -4%;

			.article-card {
				flex: 1;
				margin-right: 4%;
			}
		}
	}

	.two-column .right-column .right-column-inner ul.article-list {
		padding: 0 0 0 20px;
		list-style: disc;

		li {
			padding: 5px 0;
		}
	}
}

.article-cards {
	.article-card {
		margin-bottom: 20px;
	}

	@include respond-to( $bp-s ) {
		display: flex;
		margin-right: -4%;
		flex-wrap: wrap;

		.article-card {
			flex: 1;
			flex-basis: 46%;
			flex-grow: 0;
			margin-right: 4%;
		}
	}

	@include respond-to( $bp-l ) {
		margin-right: -3%;

		.article-card {
			flex-basis: 30.3333%;
			margin-right: 3%;
		}
	}

	.article-card {
		img {
			margin-bottom: 20px; 
		}

		h4 {
			@include font-bold;
			font-size: 1em;
			line-height: 1.3em;
			text-transform: uppercase;
		}

		p {
			font-size: .8em;
		}
	}

}



.title-bar {
	background: $navy;
	padding: 10px 20px;

	@include respond-to( $bp-m ) {
		padding: 15px 30px 11px;
	}

	@include respond-to( $bp-xl ) {
		padding: 15px 40px 11px;
	}

	h3 {
		color: white;
		font-size: 1.1em;
		text-transform: uppercase;
	}

	&.orange { background: $orange; }
	&.green { background: $green; }
	&.blue { background: $blue; }
	&.sky { background: $sky; }
	&.fulvous { background: $fulvous; }
	&.grey { background: $grey; }
	&.grey-dark { background: $grey-dark; }
}


.widget_nav_menu {
	position: relative;

	&:before {
		@include font-bold;
		position: absolute;
		top: -30px;
		content: "Menu";
		color: $navy;
		text-transform: uppercase;
	}

	margin-top: 30px;
}


.widget_categories {
	position: relative;
	margin-top: 30px;

	&:before {
		@include font-bold;
		position: absolute;
		top: -30px;
		content: "Navigate Articles";
		color: $navy;
		text-transform: uppercase;
	}
}


.widget_archive {
	position: relative;
	margin-top: 30px;

	label {
		display: none;
	}

	&:before {
		@include font-bold;
		position: absolute;
		top: -30px;
		content: "Browse By Date";
		color: $navy;
		text-transform: uppercase;
	}
}


.widget .event-list {
	position: relative;
	margin-top: 30px;

	&:before {
		@include font-bold;
		position: absolute;
		top: -30px;
		content: "Upcoming Events";
		color: $navy;
		text-transform: uppercase;
	}
}


.widget_recent_entries {
	ul li {
		font-size: .9em;
		padding: 5px 0;
	}

	.headlines {
		position: relative;

		&:before {
			@include font-bold;
			position: absolute;
			top: -30px;
			content: "Top Headlines";
			color: $navy;
			text-transform: uppercase;
		}
	}
}


.single-post .two-column .right-column .featured-image {
	@include respond-to( $bp-l ) {
		float: right;
		margin: 0 0 15px 15px;
		max-width: 50%;
	}

	.caption {
		padding: 5px 0 0 0;
		@include font-med-italic;
		font-size: .75em;
		line-height: 1.6em;
		color: #1E3241;
	}

	.wp-post-image {
		border: 1px solid $grey;
		box-shadow: 0 0 20px rgba( $grey, .5 );
		margin: 10px 0;
	}
}



