

.page-articles {
	padding: 30px;
	@include respond-to( $bp-m ) { padding: 40px 40px; }
	@include respond-to( $bp-l ) { padding: 45px 50px; }
	@include respond-to( $bp-xl ) { padding: 50px 60px; }

	background: url(../img/bg-gwlogo.png) right center / cover fixed no-repeat;

	.page-articles-title {
		padding-bottom: 15px;
	}
}


.news-aux {
	background: #f5f5f5;
	padding: 10px 30px;
	@include respond-to( $bp-m ) { padding: 15px 40px; }
	@include respond-to( $bp-l ) { padding: 15px 50px; }
	@include respond-to( $bp-xl ) { padding: 15px 60px; }

	.news-aux-col {
		padding: 10px 0;
	}

	@include respond-to( $bp-m ) {
		display: flex;

		.news-aux-col {
			flex: 1;
			padding: 0;
			flex-basis: 40%;

			&.right {
				text-align: right;
				flex-basis: 20%;
			}
		}
	}

	h5 {
		text-transform: uppercase;
		letter-spacing: 1px;
		@include font-med;
		color: #444;
		font-size: .7em;
		line-height: 1.6em;

		@include respond-to( $bp-m ) {
			display: inline;
		}
	}
}


.article-cards {
	@include respond-to( $bp-s ) {
		display: flex;
		margin-right: -4%;
		flex-wrap: wrap;

		.article-card {
			flex: 1;
			flex-basis: 46%;
			flex-grow: 0;
			margin-right: 4%;
		}
	}

	@include respond-to( $bp-l ) {
		margin-right: -3%;

		.article-card {
			flex-basis: 30.3333%;
			margin-right: 3%;
		}
	}

	.article-card {
		padding: 10px;

		img {
			margin-bottom: 20px; 
		}

		h4 {
			@include font-bold;
			font-size: 1em;
			line-height: 1.4em;
		}

		.post-author {
			padding: 0;
			font-style: italic;
			color: $grey-dark;
			font-weight: bold;
		}
	
		p {
			font-size: .8em;
		}
	}
}

