

.page-articles {
	padding: 30px;
	@include respond-to( $bp-m ) { padding: 40px 40px; }
	@include respond-to( $bp-l ) { padding: 45px 50px; }
	@include respond-to( $bp-xl ) { padding: 50px 60px; }

	background: url(../img/bg-gwlogo.png) right center / cover fixed no-repeat;

	.page-articles-title {
		padding-bottom: 15px;
	}
}


.article-cards {
	@include respond-to( $bp-s ) {
		display: flex;
		margin-right: -4%;
		flex-wrap: wrap;

		.article-card {
			flex: 1;
			flex-basis: 46%;
			flex-grow: 0;
			margin-right: 4%;
		}
	}

	@include respond-to( $bp-l ) {
		margin-right: -3%;

		.article-card {
			flex-basis: 30.3333%;
			margin-right: 3%;
		}
	}

	.article-card {
		padding: 10px;

		img {
			margin-bottom: 20px; 
		}

		h4 {
			@include font-bold;
			font-size: 1em;
			line-height: 1.4em;
		}

		.post-author {
			padding: 0;
			font-style: italic;
			color: $grey-dark;
			font-weight: bold;
		}
	
		p {
			font-size: .8em;
		}
	}
}

