

.price-table-container {
	background-color: $grey-light;
	@include padding;

	.price-table {
		.price-row {
			border: 4px solid $navy;
			padding: 20px;
			margin-bottom: 20px;

			@include respond-to( $bp-l ) {
				display: flex;
				flex-wrap: wrap;
				margin-right: -3%;

				.info {
					flex: 1;
					flex-basis: 100%;
				}

				.prices {
					flex: 1;
					flex-basis: 47%;
					margin-right: 3%;
				}

				.buttons {
					flex: 1;
					flex-basis: 47%;
					margin-right: 3%;
				}
			}

			@include respond-to( $bp-xl ) {
				flex-wrap: nowrap;
				margin-right: 0;

				.info {
					flex-basis: 39%;
					margin-right: 3%;
					margin-bottom: 5px;
				}

				.prices {
					flex-basis: 35%;
					margin-right: 3%;
					margin-bottom: 5px;

					.price {
						margin-top: 0;
					}
				}

				.buttons {
					flex-basis: 25%;
					margin-right: 0;
					padding: 0;
				}
			}

			.prices {
				line-height: 1.4em;
				font-size: 1.1em;

				span {
					font-weight: bold;
					font-size: 1.4em;
				}

				@include respond-to( $bp-l ) {
					margin-right: 2%;
					flex-grow: 0;
				}

				.price {
					border: 4px solid $navy;
					padding: 20px;
					margin-top: 5px;
				}
			}

			.buttons {
				.btn {
					display: block;
					border-radius: 0;
					margin-top: 5px;
				}
			}
		}
	}
}


.page-template-page-price-table {
	.link-boxes {
		background: white;
	}
}
