

.sidebar {
	@include respond-to( $bp-m ) {
		padding-top: 20px;
		width: 21%;
	}
	
	.widget-title {
		font-size: 1em;
		line-height: 1em;
		padding: 3px;
		border-bottom: 3px solid #ddd;
	}

	.connect {
		margin-top: 30px;
		position: relative;

		&:before {
			@include font-bold;
			position: absolute;
			top: -30px;
			content: "Connect With Us";
			color: $navy;
			text-transform: uppercase;
		}

		.people {
			padding-top: 0;
			font-size: .8em;

			@include respond-to( $bp-m ) {
				.people-listing {
					display: block;
				}
			}
		}
	}
}

