

.page-template-page-solutions {
	.icons {

	}

	.page-events {
		border-top: 0;
	}
}

.page-template-page-front-foundation {
    .icons {
        background-color: white;
    }

    .page-events {
        background-color: $grey-light;
    }
}

