

.tabs-container {
    background: url(../img/bg-gwlogo.png) right center / cover fixed no-repeat;
    
    .tab-handles {
        border-bottom: 1px solid rgba( black, .3 );

        .handle {
            @include font-bold;
            display: inline-block;
            flex: 1;
            padding: 15px 25px;
            border: 1px solid rgba( black, .3 );
            border-left: 0;
            background: white;
            margin-bottom: -1px;
            cursor: pointer;
            
            @include respond-to( $bp-m ) {
                padding: 25px 35px;
                min-width: 20%;
                text-align: center;
            }
            
            @include respond-to( $bp-xl ) {
                padding: 30px 40px;
                min-width: 15%;
                text-align: center;
            }

            &.active {
                background: $grey-light;
                border-bottom: 1px solid white;
                cursor: inherit;
            }
        }
    }

    .tab-contents {
        & > .content {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

