

// set colors
$green: #00AE80;
$navy: #1E3241;
$blue: #529BA6;
$sky: #92B4BC;
$orange: #E77E24;
$grey: #666666;
$grey-light: rgba( #C5C5CF, .2 );
$grey-dark: #444444;


// breakpoints
$bp-s: 600px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1150px;
$bp-xxl: 1300px;


// import all the things
@import "mixins", "fonts", "reset", "button", "base", "grid", "form";


// import layout components
@import "header", "showcase", "content", "sidebar", "footer", "front", "icons", "stats";


// import lightbox styles
@import "magnific";

