

// set colors
$green: #00AE80;
$green-dark: #048062;
$green-darker: #135c52;

$navy: #1E3241;
$blue: #529BA6;
$blue-whale: #2378D5;
$sky: #92B4BC;
$orange: #DD481F;
$fulvous: #E87D00;
$grey: #c5c5cf;
$grey-light: rgba( $grey, .2 );
$grey-dark: #9d9dac;

$color-az: #FBB316;
$color-co: #7A3693;
$color-id: #EE3E37;
$color-or: #41C2D4;
$color-wa: #3A76BA;
$color-wy: #8C4C3D;


// breakpoints
$bp-s: 600px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1150px;
$bp-xxl: 1300px;


// import all the things
@import "mixins", "fonts", "reset", "button", "base", "grid", "form";


// import layout components
@import "header", "showcase", "content", "sidebar", "footer", "page-title", "page-ads", "page-articles", "front", 
	"icons", "stats", "event", "newsletter", "accordion", "people", "partner-logos", "partner", "testimonials", "link-boxes", 
	"agenda", "button-bar", "template-councils", "template-council", "template-advocacy", "price-table", "footer-buttons", "image-boxes", "notice";


@import "association", "foundation", "solutions";

// import lightbox styles
@import "magnific";

